body {
    background-color: #c5b398;
    }

.border {
    font-family: 'Courier New', Courier, monospace;
    border: 10px double #000000;
    text-align: center;
    background-color: #c1ecc4;
    margin: 20px;
    padding: 0 60px 10px;
}

.list {
   
    display: inline-block;
    text-align: left;
    
}

.image {
    display: block;
    margin: 15px auto;
    border: solid #000000;
}

.nline {
    display: block;
    margin: 5px;
}

